.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background: url(../assets/img/wrapperBackground.svg);
    background-size: cover;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: space-around;
    height: 87%;
    width: 100%;
}
.main .turn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    width: 52%;
    margin: 2% 0;
}
.main .turn .time{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    background-color: black;
    color: white;
    font-family: 'Mukta', sans-serif;
}

.main .turn .time .labelTime{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 33%;
}
.main .board {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: url(../assets/img/boardBackground.svg);
    border-radius: 5%;
    padding: 0 2%;
    width: 50%;
    height: 70%;
}
.main .board .column{
    width: 14%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main .board .column:hover{
    background-color: #d3bda9;
}
.main .board .column .spot {
    width: 90%;
    height: 15%;
    margin: 5%;
    border-radius: 50%;
    background-color: #00000086;
}
.main .board .column .spot.green {
    background: url(../assets/img/leaf.svg) no-repeat center;
    background-color: #52EE5A;
}
.main .board .column .spot.blue {
    background: url(../assets/img/water.svg) no-repeat center;
    background-color: #4684F8;
}
.main .board .column .spot.red {
    background: url(../assets/img/fire.svg) no-repeat center;
    background-color: #d44931 ;
}
.main .board .column .spot.winTile{
    background: url(../assets/img/star.svg) no-repeat center center;
    background-color: #ffffff ;
}
.main .board .column .spot.player3{
    width: 75%;
    height: 10%;
}
.footer{
    display: flex;
    justify-content: space-between;
    height: 10%;
    width: 100%;
}
.footer .btnRight, .footer .btnLeft{
    display: flex;
    justify-content: center;
    width: 20%;
    height: 100%;
}
.footer .btnRight{
    justify-content: space-around;
}
.buttonMain{
    width: 30%;
    height: 100%;
    border-radius: 50%;
    background-color: black;
    color: white;
}
.buttonMain:hover{
    background-color: grey;
}
.savedGames{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    
}
@media(max-width: 1020px){
    .main{
        width: 100%;
        height: 100%;
    }
    .main .board{
        width: 75%;
        height: 60%;
    }
    .footer .btnRight, .footer .btnLeft{
        width: 50%;
        height: 100%;
    }
}
@media(max-width: 750px){
    .main{
        width: 100%;
        height: 100%;
    }
    .main .board{
        width: 95%;
        height: 60%;
    }
    .footer .btnRight, .footer .btnLeft{
        width: 50%;
        height: 100%;
    }
}


